{% import_yaml 'dnsmasq/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
    },
  },
  grain='os_family',
  merge=salt['pillar.get']('dnsmasq:lookup'))
%}

{% do defaults.dnsmasq.update(os_family_map) %}

{% set dnsmasq = salt['pillar.get'](
  'dnsmasq',
  default=defaults.dnsmasq,
  merge=True)
%}
