dc_eximconfig_configtype='{{ salt['pillar.get']('exim4:dc_eximconfig_configtype', 'satellite') }}'
dc_other_hostnames='{{ salt['pillar.get']('exim4:dc_other_hostnames', salt['grains.get']('fqdn')) }}'
dc_local_interfaces='{{ salt['pillar.get']('exim4:dc_local_interfaces', '127.0.0.1 ; ::1') }}'
dc_readhost='{{ salt['pillar.get']('exim4:dc_readhost', salt['pillar.get']('exim4:lookup:dc_readhost', '')) }}'
dc_relay_domains='{{ salt['pillar.get']('exim4:dc_relay_domains', salt['pillar.get']('exim4:lookup:dc_relay_domains', '')) }}'
dc_minimaldns='false'
dc_relay_nets='{{ salt['pillar.get']('exim4:dc_relay_nets', salt['pillar.get']('exim4:lookup:dc_relay_nets', '')) }}'
dc_smarthost='{{ salt['pillar.get']('exim4:dc_smarthost', salt['pillar.get']('exim4:lookup:dc_smarthost', '')) }}'
CFILEMODE='644'
dc_use_split_config='{{ salt['pillar.get']('exim4:dc_use_split_config', 'false') }}'
dc_hide_mailname='{{ salt['pillar.get']('exim4:dc_hide_mailname', 'true') }}'
dc_mailname_in_oh='true'
dc_localdelivery='{{ salt['pillar.get']('exim4:dc_localdelivery', 'mail_spool') }}'
