{% import_yaml 'sysctl/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
    },
  }, grain='os_family', merge=salt['pillar.get']('sysctl:lookup'))
%}

{% do defaults.sysctl.update(os_family_map) %}

{% set sysctl = salt['pillar.get'](
  'sysctl',
  default=defaults.sysctl,
  merge=True)
%}
