#
# This file is managed by Salt. Changes will be overwritten!
#
{%- for k, v in config.items() %}

[{{k}}]
    {%- for k_v, v_v in v.items() %}
        {%- if v_v is list %}
            {%- for i in v_v %}
{{ k_v }}={{ i }}
            {%- endfor %}
        {%- else %}
{{ k_v }}={{ v_v }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
