[Unit]
Description=Conntrack Daemon
Documentation=man:conntrackd(8) man:conntrackd.conf(5)

# Ensure network is set up before trying to start conntrackd.
# If the configured interface is not yet available conntrackd will fail to start.
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
#ExecStartPre=-/bin/rm -f /var/lock/conntrackd.lock
ExecStart=/usr/sbin/conntrackd -C /etc/conntrackd/conntrackd.conf
Restart=on-failure
ProtectSystem=full
ProtectHome=true
#WatchdogSec=60

[Install]
WantedBy=multi-user.target

