{% import_yaml 'php-fpm/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('php_fpm:lookup'),
    base='php_fpm'
    )
%}

{% set php_fpm = salt['pillar.get'](
    'php_fpm',
    default=base_settings,
    merge=True
    )
%}
