{% import_yaml 'mariadb-backup/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
        },
    },
    grain='os_family',
    merge=salt['pillar.get']('mariadb_backup:lookup'))
%}

{% do defaults.mariadb_backup.update(os_family_map) %}

{% set mariadb_backup = salt['pillar.get'](
        'mariadb_backup',
        default=defaults.mariadb_backup,
        merge=True
    )
%}
