[Unit]
Description=monthly borgwrapper backup verification timer

[Timer]
OnCalendar={{ config.schedule.verify.interval }}
{%- if config.schedule.verify.randomized_delay %}
RandomizedDelaySec={{ config.schedule.verify.randomized_delay }}
{%- endif %}
Persistent=true

[Install]
WantedBy=multi-user.target
