[Unit]
Description=daily borgwrapper backup timer

[Timer]
OnCalendar={{ config.schedule.backup.interval }}
{%- if config.schedule.backup.randomized_delay %}
RandomizedDelaySec={{ config.schedule.backup.randomized_delay }}
{%- endif %}
Persistent=true

[Install]
WantedBy=multi-user.target
