{% import_yaml 'borgwrapper/defaults.yaml' as defaults %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            'bin': '/usr/local/bin/borgwrapper',
            'config_file': '/etc/borgwrapper/config.sh'
        },
    },
    grain='os_family',
    merge=salt['pillar.get']('borgwrapper:lookup'))
%}

{% do defaults.borgwrapper.update(os_family_map) %}

{% set borgwrapper = salt['pillar.get'](
        'borgwrapper',
        default=defaults.borgwrapper,
        merge=True
    )
%}
