{% import_yaml 'unattended-upgrades/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('unattended_upgrades:lookup'),
    base='unattended_upgrades'
    )
%}

{% set unattended_upgrades = salt['pillar.get'](
    'unattended_upgrades',
    default=base_settings,
    merge=True
    )
%}
