{% import_yaml 'postfix/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('postfix:lookup'),
    base='postfix'
    )
%}

{% set postfix = salt['pillar.get'](
    'postfix',
    default=base_settings,
    merge=True
    )
%}
