[Unit]
Description=Discard unused blocks once a week
Documentation=man:fstrim

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=true

[Install]
WantedBy=multi-user.target
