[Unit]
Description=Scheduled discarding of unused blocks
Documentation=man:fstrim

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=true

[Install]
WantedBy=multi-user.target
