{% import_yaml 'isc-dhcp-relay/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('dhcp_relay:lookup'),
    base='dhcp_relay'
    )
%}

{% set dhcp_relay = salt['pillar.get'](
    'dhcp_relay',
    default=base_settings,
    merge=True
    )
%}
