{% import_yaml 'pip/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('pip:lookup'),
    base='pip'
    )
%}

{% set pip = salt['pillar.get'](
    'pip',
    default=base_settings,
    merge=True
    )
%}
