{% import_yaml 'kernel/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('kernel:lookup'),
    base='kernel'
    )
%}

{% set kernel = salt['pillar.get'](
    'kernel',
    default=base_settings,
    merge=True
    )
%}
