{% import_yaml 'fwgen/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('fwgen:lookup'),
    base='fwgen'
    )
%}

{% set fwgen = salt['pillar.get'](
    'fwgen',
    default=base_settings,
    merge=True
    )
%}
