{% import_yaml 'icinga2/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('icinga2:lookup'),
    base='icinga2'
    )
%}

{% set icinga2 = salt['pillar.get'](
    'icinga2',
    default=base_settings,
    merge=True
    )
%}
