[Unit]
Description=daily squid blacklist update

[Timer]
OnCalendar=daily
RandomizedDelaySec=6h
Persistent=true

[Install]
WantedBy=multi-user.target
