{% import_yaml 'bird/defaults.yaml' as defaults %}

{% set lookup = salt['grains.filter_by']({
    'Debian': {
    },
  },
  grain='os_family',
  merge=salt['pillar.get']('bird:lookup'))
%}

{% do defaults.bird.update(lookup) %}

{% set bird = salt['pillar.get'](
  'bird',
  default=defaults.bird,
  merge=True)
%}
