{% import_yaml 'keepalived/defaults.yaml' as defaults %}
{% import_yaml 'keepalived/os_family_map.yaml' as os_family_map %}

{% set default_settings = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        os_family_map,
        grain='os_family',
        merge=salt['pillar.get']('keepalived:lookup')
    ),
    base='keepalived'
) %}

{% set keepalived = salt['pillar.get'](
  'keepalived',
  default=default_settings,
  merge=True)
%}
