{% import_yaml 'keepalived/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('keepalived:lookup'),
    base='keepalived'
    )
%}

{% set keepalived = salt['pillar.get'](
    'keepalived',
    default=base_settings,
    merge=True
    )
%}
