{% import_yaml 'keepalived/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by']({
        'Debian': {
            'config_file': '/etc/keepalived/keepalived.conf',
            'package': 'keepalived',
            'service': 'keepalived',
            'service_config': {
                'Unit': {
                    'Description': 'Keepalive Daemon (LVS and VRRP)',
                    'After': 'syslog.target network-online.target',
                    'Wants': 'network-online.target',
                    'ConditionFileNotEmpty': '/etc/keepalived/keepalived.conf'
                },
                'Service': {
                    'Type': 'forking',
                    'KillMode': 'process',
                    'EnvironmentFile': '-/etc/default/keepalived',
                    'ExecStart': '/usr/sbin/keepalived $DAEMON_ARGS',
                    'ExecReload': '/bin/kill -HUP $MAINPID'
                },
                'Install': {
                    'WantedBy': 'multi-user.target'
                },
            },
        },
    },
    grain='os_family',
    merge=salt['pillar.get']('keepalived:lookup'),
    default='Debian'
    )
%}

{% set keepalived = salt['pillar.get'](
    'keepalived',
    default=base_settings,
    merge=True
    )
%}
