[Unit]
Description=borgwrapper backup (config: %i)
After=network.target

# Test for failure
OnFailure=icinga2-update@backup.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/borgwrapper -c /etc/borgwrapper/%i.sh backup

# Test for other statuses
ExecStopPost=-/usr/local/bin/icinga2-update --service backup --systemd

User=root
Group=root
