[Unit]
Description=borgwrapper backup verification (config: %i)
After=network.target borgwrapper-backup@%i.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/borgwrapper -c /etc/borgwrapper/%i.sh verify
Nice=10

# Only temporary test
ExecStopPost=-/usr/local/bin/icinga2-update --service "backup verification" --systemd

User=root
Group=root
