{% import_yaml 'apt/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('apt:lookup'),
    base='apt'
    )
%}

{% set apt = salt['pillar.get'](
    'apt',
    default=base_settings,
    merge=True
    )
%}
