{% import_yaml 'bird/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('bird:lookup'),
    base='bird'
    )
%}

{% set bird = salt['pillar.get'](
    'bird',
    default=base_settings,
    merge=True
    )
%}
