{% import_yaml 'conntrackd/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('conntrackd:lookup'),
    base='conntrackd'
    )
%}

{% set conntrackd = salt['pillar.get'](
    'conntrackd',
    default=base_settings,
    merge=True
    )
%}
