{% import_yaml 'logstash/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('logstash:lookup'),
    base='logstash'
    )
%}

{% set logstash = salt['pillar.get'](
    'logstash',
    default=base_settings,
    merge=True
    )
%}
