{% import_yaml 'ddclient/defaults.yaml' as defaults %}
{% import_yaml 'ddclient/os_family_map.yaml' as os_family_map %}

{% set default_settings = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        os_family_map,
        grain='os_family',
        merge=salt['pillar.get']('ddclient:lookup')
    ),
    base='ddclient'
) %}

{% set ddclient = salt['pillar.get'](
  'ddclient',
  default=default_settings,
  merge=True)
%}
