#!/usr/sbin/nft -f
#
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
#
{% if ruleset %}
flush ruleset

include "{{ include_dir }}/*.ruleset"

{{ ruleset }}
{%- else %}
flush ruleset

table inet filter {
	chain input {
		type filter hook input priority 0;
	}
	chain forward {
		type filter hook forward priority 0;
	}
	chain output {
		type filter hook output priority 0;
	}
}
{%- endif %}
