{% import_yaml 'salt/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('salt_config:lookup'),
    base='salt_config'
    )
%}

{% set salt_config = salt['pillar.get'](
    'salt_config',
    default=base_settings,
    merge=True
    )
%}
