{% import_yaml 'timesyncd/defaults.yaml' as defaults %}

{% set lookup = salt['grains.filter_by']({
    'Debian': {
    },
  },
  grain='os_family',
  merge=salt['pillar.get']('timesyncd:lookup'))
%}

{% do defaults.timesyncd.update(lookup) %}

{% set timesyncd = salt['pillar.get'](
  'timesyncd',
  default=defaults.timesyncd,
  merge=True)
%}
