{% import_yaml 'zfsonlinux/defaults.yaml' as defaults %}

{% set base_settings = salt['grains.filter_by'](
    defaults,
    grain='os_family',
    merge=salt['pillar.get']('zfsonlinux:lookup'),
    base='zfsonlinux'
    )
%}

{% set zfsonlinux = salt['pillar.get'](
    'zfsonlinux',
    default=base_settings,
    merge=True
    )
%}
